<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://th.bing.com/th/id/OIP.BtZ9yqVW0zKBDmnJPWBWTAHaDt?pid=ImgDet&rs=1" alt="">
    </div>
    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card_description">
        <p>
            É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum'.
        </p>
    </div>
</div>