<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="https://th.bing.com/th/id/OIP.BtZ9yqVW0zKBDmnJPWBWTAHaDt?pid=ImgDet&rs=1"
        cardTitle="Saiu Nova Versão do Angular"
        cardDescription="É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum'."
        ></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/OIP.ivPbByJAgi2tOmwxoUTTswHaD4?pid=ImgDet&rs=1"
            cardTitleSmall="Angular vs React: Qual é melhor?"
        ></app-small-card>
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/R.3a27241c018db096e5c8e47dd1508aba?rik=uvWbhb7NBIyxWg&pid=ImgRaw&r=0"
            cardTitleSmall="Angular e React Anunciam Parceria Revolucionária para Desenvolvimento Web"
        ></app-small-card>
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/OIP.tQv3RyqQ-5D23uKS_Fy93AHaGd?pid=ImgDet&rs=1"
            cardTitleSmall="Desenvolvedores do React Ficam Espantados com as Novas Velocidades de Carregamento do Angular"
        ></app-small-card>
    </div>
</div>

<h1> Novidades </h1>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="https://th.bing.com/th/id/R.278647e3bf1876b4b13159eba603fb13?rik=akS8UwiF4wODkA&pid=ImgRaw&r=0"
        cardTitle="Saiu Nova Versão do Angular"
        cardDescription="É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum'."
        ></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/R.2b8e9ff38dd621a927fa6f1a07cf0462?rik=DFxpPLTFfSXIGw&pid=ImgRaw&r=01"
            cardTitleSmall="Angular e React Declaram Trégua: Conferência Conjunta Promete um Futuro de Colaboração"
        ></app-small-card>
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/OIP.FgKc97lR6dBVfpUl-6KjhgHaDt?pid=ImgDet&rs=1"
            cardTitleSmall="Fusão Surpreendente: React se Une ao Angular e Causa Controvérsia e Excitação no Mundo da Programação"
        ></app-small-card>
        <app-small-card
            photoCoverSmall="https://th.bing.com/th/id/OIP.nr59E-4urHFWsMPlo-ObtQHaEK?pid=ImgDet&w=1024&h=576&rs=1"
            cardTitleSmall="Grande Avanço: Cientistas do Angular e React Anunciam Integração com Computação Quântica"
        ></app-small-card>
    </div>
</div>